@import url(https://fonts.googleapis.com/css?family=Raleway:300);

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

* { box-sizing: border-box; }

body {
    padding: 0;
    margin: 0;
    color: rgba(5, 183, 237, 1);
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    text-align: center;
    font-family: Raleway, Monaco;
}
ul { list-style: none; margin: 0; }

a:-webkit-any-link {
	cursor: pointer !important;
	text-decoration: none;
	color: inherit;
}

/* Responsive GRID */
/* http://www.w3schools.com/css/css_rwd_grid.asp */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 10px;
    /*border: 1px solid red;*/
}

.row:after {
    content: "";
    clear: both;
    display: block;
}

/* MISC */
.text-uppercase { text-transform: uppercase; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-red { color: red; }
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.disabled {
	pointer-events: none;
	cursor: not-allowed;
  	filter: alpha(opacity=65);
  	-webkit-box-shadow: none;
			box-shadow: none;
  	opacity: .65;
}

.icon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.form-group { 
	display: block;
	margin-bottom: 10px;
}

.form-control {
	display: block;
	width: 90%;
	height: 20px;
	padding: 6px 6px;
	margin: 0px 0px 0px 0px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	text-align: center;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.btn-primary {
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
}
.btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}
.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}
.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.pull-left { float: left; }
.pull-right { float: right; }

.no-margin { margin: 0; }

.list-inline li { display: inline-block; }

.separator { color: #777; }

/* MISC */

/* HEADER */
.header {
	background-color: rgba(248, 248, 248, 0.6);
	min-height: 30px;
	width: 100%;
	top: 0;
	position: absolute;
}
.header-container {
	padding: 0px 20px 0px 20px;
}
.header-list { margin-top: 10px; }

.logout-icon:before {
	content: "\e017";
}
.btn-logout { cursor: pointer; }
/* HEADER */

/* MAIN */
.container {
	margin-top: 60px;
	padding: 0px 15px 0px 15px;
}

.viewer {
	display: inline-block;
	background-color: rgba(248, 248, 248, 0.8);
	min-height: 100px;
	padding: 10px 40px 10px 40px;
	color: rgb(6, 89, 123);
}
/* MAIN */

/* INSCRIPTION */
.p-error { color: red; margin-bottom: 15px; }
.p-success { color: green; margin-top: 15px; }
/* INSCRIPTION */

/*  MONTAGE */
video {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}
.preview-filter {
	height: 100%;
	width: 100px;
	cursor: pointer;
}
.render { position: relative; }
.render-preview { 
	position: relative;
	display: inline-block;
	margin-bottom: 15px;
}
.render-filter { 
	position: absolute;
	z-index: 10;
}
.render-filter img { 
	height: 100%;
}
.recap-img { 
	height: 100%;
	width: 100%;
	max-width: 320px;
}

#output {
	display: inline-block;
	width: 320px;
	text-align: left;
}
#canvas { display: none; }
#startbutton, #saveButton { display: none; }

#userPic { display: none; }
#photo { display: none; }
/*  MONTAGE*/

























