<div class="container-box">

	<h1 class="text-uppercase">inscription</h1>
	<div class="p-error text-left"></div>
	<form class="text-left">
		<label>Username</label>
		<input type="text" class="username-input form-control">
		<label>Email address</label>
		<input type="email" class="email-input form-control">
		<label>Password</label>
		<input type="password" class="password-input form-control">
		<button type="submit" class="btn btn-primary btn-inscription">Submit</button>
	</form>
	<div class="p-success text-left"></div>
</div>
<script src="public/js/inscription.js" type="text/javascript"></script>